@model IEnumerable<EZTech.Models.RentedDVD>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DVDPlan.PlanName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DVDPlan.PlanName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentalDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RentedDVDID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RentedDVDID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RentedDVDID })
        </td>
    </tr>
}

</table>
